# Binary
subclrschm*
ColorPicker/
*.cache

# Documentation
*.md

# Package Control stuff
Package Control.ca*
Package Control.last-run
Package Control.list

# Project files
*.sublime-project
*.sublime-workspace

# Session or Sensitive Information
ChangeList.json
favorite_files_list.json
GitHub.sublime-settings
User.sublime-completions
